.tarifs{
	display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 5%;
    overflow: scroll;
    padding: 10%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
