.item {
	> table {
		width: auto;
		.header {
			font-weight: 700;
		}
	}
}

.subscription {
	> button {
		margin-top: 2em;
		margin-right: 2em;
	}
	.danger {
		background-color: rgb(154, 2, 2);
		color: white;
	}
}
.notification {
	display: flex;
	flex-direction: column;
	gap: 1em;

	> header {
		font-weight: 700;
		font-size: 1.4em;
	}
}
