@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/_all.sass";

.content {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	> .list {
		display: flex;
		flex-direction: column;

		flex: 0 0 auto;
		max-width: 30%;
		height: 100%;
		border-right-style: solid;
		border-color: #00000082;
		border-radius: 0;
		@extend .box;
	}
	> .editor {
		flex: 1 1 auto;
	}
}

.buttonsList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	button {
		&.primary {
			@extend .is-primary;
		}
		&.danger {
			@extend .is-danger;
		}
	}
}
