@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/helpers/_all.sass", "bulma/sass/components/_all.sass";
@import "bulma/sass/elements/_all.sass";
.editor {
	height: 100%;
	width: 100%;
	padding: 5vh 5vw;

	display: flex;
	flex-direction: column;
	.back {
		position: relative;
		height: 1.5rem;
		width: 1.5rem;
		border-width: 1vh;
		flex: 0 0 auto;
		cursor: pointer;
		pointer-events: all;
	}
	.hide {
		display: none;
	}

	.individualEditor {
		flex: 1 1 auto;
	}
	.status {
		height: 2em;
		.sucess {
			@extend .has-text-success;
		}
		.danger {
			@extend .has-text-danger;
		}
	}
	.error {
		> span {
			font-weight: 900;
		}
		text-align: center;
		@extend .has-text-danger;
		padding: 2vh;
	}
}

.modalWindow {
	z-index: 9999999;

	@extend .modal;

	&.isActive {
		@extend .is-active;
	}
	.modalBackground {
		@extend .modal-background;
	}
	.modalContent {
		display: flex;
		justify-content: center;
		@extend .modal-content;
	}

	.window {
		@extend .notification;
		width: 30vw;
		.buttons {
			margin-top: 2em;
			display: flex;
			justify-content: space-around;
		}
		.danger {
			@extend .has-background-danger;
			@extend .has-text-white;
		}
	}
}
