@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "../lib/variables.scss";

.list {
	width: fit-content;
	display: flex;
	flex-direction: column;
	height: 1px;

	flex: 1 1 auto; //вынести на уровень выше а тут просто высоту 100%

	> header {
		@extend .title;
	}
	.table {
		@extend .table;
		&:not(:last-child) {
			margin-bottom: 0;
		}
		tr {
			div {
				max-width: 10vw;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		thead {
			position: sticky;
			top: 0;
			background-color: $background-color;
		}
		tbody {
			tr {
				cursor: pointer;
				&.selected{
					@extend .has-background-primary-light;
				}
				&:hover {
					@extend .has-background-light;
				}
			}
		}
	}
	.content {
		flex: 1 1 auto;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
