@import "bulma/sass/utilities/_all.sass";

.upload{
	display: flex;
	flex-direction: column;
	img{
		max-height: 80vh;
		width: fit-content;
	}
	input{
		position: absolute;
	}
	label{
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.name{
		max-width: 100%;
		width: 100%;
	}
	.loader{
		width:48px;
	}
}

.upload { gap:16px; min-width:0; }.upload img { max-width:100%; max-height:400px; object-fit:contain; }.upload label { flex-wrap:wrap; font-size:12px; }.upload .name { min-width:0; }
