@import "./lib/bulma.scss";
@import "./lib/variables.scss";

.root {
	//Тут будут перечисления всех стилей стандартных
	min-height: 100vh;
	min-width: 1080px;
	position: relative;
	.content {
		&.isNavbar {
			margin-top: $navbar-height;
			/* padding-top: 3vh; */
		}
	}
	input {
		@extend .input;
	}
	button {
		@extend .button;
	}
	label {
		@extend .label;
		&:not(:last-child) {
			margin-bottom: 0;
		}
	}
	table {
		@extend .table;
	}
	.footer {
		position: relative;
		bottom: 0;
		height: 20vh;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		font-size: 1.2em;

		.info {
			background: $yellow-gradient;
			padding: 3vh 10vw;
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 1em;
			> header {
				display: flex;
				flex-direction: row;
				font-size: 1.4em;
				font-weight: 600;
				align-items: center;
				gap: 1vw;
				> div {
					position: relative;
					height: 3rem;
					width: 3rem;
				}
			}
			> section {
				> header {
					font-weight: 600;
					margin-bottom: 1vh;
				}
				grid-row: 2;
				display: flex;
				flex-direction: column;
			}
		}
		.other {
			background-color: $black-color;
			color: white;
			padding: 1vh 5vw;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1em;
			> div {
				text-align: center;
			}
		}
	}
}
