@import "./lib/bulma.scss";
@import "./lib/variables.scss";

.navbar {
	max-height: $navbar-height;
	background-color: transparent;
	margin: 1% 4% 1% 4%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	&.fixed {
		position: absolute;
		@extend .is-fixed-top;
	}
	.lkNavbar {
		@extend .navbar-item;
		@extend .has-dropdown;


		.avatarMenu {
			background-color: aliceblue;
			&.open{
				display: block;
			}
			@extend .navbar-dropdown;
			display: none;
			> a {
				@extend .navbar-item;

				&.exit{
					@extend .has-text-danger;
				}
			}
			> hr {
				@extend .navbar-divider;
			}
		}
	}

	> .brand {
		@extend .navbar-brand;
		> div {
			@extend .navbar-item;
		}
		.about {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1vh;
			> div {
				width: 10em;
				height: 5em;
				position: relative;
			}
			> span {
				font-size: 3vh;
				font-weight: 700;
			}
		}
	}
	> .menu {
		width: 100%;
		display: flex;
    flex-direction: row;
    align-items: flex-start;
		justify-content: space-between;
    margin-top: 0.5em;
		.buttons {
			@extend .buttons;
			.log {
				background: $login-color;
				color: $white-color;
				border: none;
			}
			.sign {
				@extend .is-link;
			}
		}

		> section {
			display: flex;
			flex-direction: row;
			> a,
			div {
				@extend .navbar-item;

				&:focus{
					background-color: transparent;
				}

				&:focus-within{
					background-color: transparent;
				}

				&:hover{
					background-color: transparent;
				}
			}
			.lk {
				display: flex;
				flex-direction: row;
				gap: 1vh;
				cursor: pointer;
				img {
					max-height: 10vh;
				}

				.rounded {
					border-radius: 100%;
				}
				.avatar {
					@extend .rounded;
					@extend .has-background-primary;
					@extend .has-text-white;
					display: flex;
					justify-content: center;
					width: 2rem;
					height: 2rem;
					padding: 0;
				}
			}
		}
		> .start {
			@extend .navbar-start;
		}
		> .end {
			@extend .navbar-end;
		}
	}
}
