@import "./lib/bulma.scss";

.navbar {
	@extend .navbar;
	max-height: $navbar-height;
	&.fixed {
		@extend .is-fixed-top;
	}
	.lkNavbar {
		@extend .navbar-item;
		@extend .has-dropdown;

		&:hover{
			.avatarMenu{
				display: block;
			}
		}

		.avatarMenu {
			@extend .navbar-dropdown;

			> a {
				@extend .navbar-item;

				&.exit{
					@extend .has-text-danger;
				}
			}
			> hr {
				@extend .navbar-divider;
			}
		}
	}

	> .brand {
		@extend .navbar-brand;
		> div {
			@extend .navbar-item;
		}
		.about {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1vh;
			> div {
				height: 5vh;
				width: 5vh;
				position: relative;
			}
			> span {
				font-size: 3vh;
				font-family: cursive;
				font-weight: 700;
			}
		}
	}

	> .menu {
		@extend .navbar-menu;

		.buttons {
			@extend .buttons;
			.log {
				@extend .is-light;
			}
			.sign {
				@extend .is-link;
			}
		}

		> section {
			> a,
			div {
				@extend .navbar-item;
			}
			.lk {
				gap: 1vh;
				cursor: pointer;
				img {
					max-height: 10vh;
				}

				.rounded {
					border-radius: 100%;
				}
				.avatar {
					@extend .rounded;
					@extend .has-background-primary;
					@extend .has-text-white;
					justify-content: center;
					width: 2rem;
					height: 2rem;
					padding: 0;
				}
			}
		}
		> .start {
			@extend .navbar-start;
		}
		> .end {
			@extend .navbar-end;
		}
	}
}
