@import "../lib/bulma.scss";

.cardTarifs {
	background: #fff;
	width: 17em;
	padding-bottom: 3%;
	flex: 0 0 auto;

	> header {
		width: 100%;

		> img {
			width: 100%;
		}
	}
	> section {
		display: flex;
		flex-direction: column;

		padding: 0 30% 0 10%;
		margin-top: 5.56vh;
		font-family: "Montserrat", sans-serif;
		> h3 {
			margin: 0;
			font-weight: 600;
			font-size: 1.17em;
			height: 3em;
		}

		> p {
			font-size: 1em;
			&.description {
				margin-top: 1.33vh;
				height: 15em;

				> .block {
					> div {
						position: relative;
						width: 1em;
						height: 1em;
						flex: 0 0 auto;
						margin: 0.4em 0.3em 0 0;
						margin-left: -10%;
					}
					display: flex;
					flex-direction: row;
					margin-bottom: 0.2em;
				}
			}

			&.price {
				font-size: 1.2em;
				font-weight: 600;
			}
		}

		.btn {
			@extend .button;
			color: white;
			display: block;
			text-decoration: none;
			background: rgba(251, 123, 161, 1);
			background: -moz-linear-gradient(left, rgba(251, 123, 161, 1) 0%, rgba(252, 224, 67, 1) 100%);
			background: -webkit-gradient(
				left top,
				right top,
				color-stop(0%, rgba(251, 123, 161, 1)),
				color-stop(100%, rgba(252, 224, 67, 1))
			);
			background: -webkit-linear-gradient(left, rgba(251, 123, 161, 1) 0%, rgba(252, 224, 67, 1) 100%);
			background: -o-linear-gradient(left, rgba(251, 123, 161, 1) 0%, rgba(252, 224, 67, 1) 100%);
			background: -ms-linear-gradient(left, rgba(251, 123, 161, 1) 0%, rgba(252, 224, 67, 1) 100%);
			background: linear-gradient(to right, rgba(251, 123, 161, 1) 0%, rgba(252, 224, 67, 1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb7ba1', endColorstr='#fce043', GradientType=1 );
			margin-top: 1.2vh;
			width: 9.19vw;
			border-radius: 0.63vw;
		}
	}
}

.error {
	display: flex;
	flex-direction: column;
	gap: 1em;
	> header {
		font-weight: 700;
		font-family: 1.4em;
	}
}
